streamlit==1.52.0
groq==1.1.1
langchain==1.2.13
langchain-groq==1.1.2
langchain-community==0.3.5
langchain-huggingface==1.2.1
langchain-text-splitters==1.1.1
langchain-chroma==1.1.0
pypdf==6.9.2
chromadb==1.5.5
pysqlite3-binary
sentence-transformers==3.3.0
unstructured==0.18.0
openpyxl==3.1.5
