streamlit>=1.51.0
pandas>=2.2.0
plotly>=6.0.0
langchain-groq>=0.2.5
langchain-huggingface>=1.2.1
langchain-chroma>=1.1.0
langchain-community>=0.3.0
youtube-transcript-api>=0.6.3
pypdf>=5.0.0
docx2txt>=0.8
python-dotenv>=1.0.1
openpyxl>=3.1.2
